#background    {
    background: url('../../uploads/extras/bg.png') no-repeat center center fixed;
    background-size: cover;
}

.vertical-offset {
    margin-top: 7em;
}

.breadcrumb {
    padding: -.50em;
}